include mixins

doctype html
html(lang='en')
    head

        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/bootstrap-slider.min.css')
        link(rel='stylesheet', href='css/bootstrap-colorpicker.min.css')
        link(rel='stylesheet', href='css/main.css')

        title Numeric Methods
    body
        .container.frame-big.table-bordered
            .text-center
                h1.h1.text-lg-center Numerical Methods
                br
                br
            .row
                +graph-card(0, false)
                +graph-card(1, true)

            br
            p.text-right.text-secondary Copyright (c) 2018, Marsel Shayhin

        #customiseModal.modal.fade(tabindex=-1, role='dialog', aria-labelledby='customiseModalLabel', aria-hidden=true, data-id=0)
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h2#customiseModalLabel.modal-title Customise chart
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden=true) &times;
                    .modal-body
                        form
                            p.h5 Choose graphs to display
                            .row
                                .col-5.offset-1
                                    span.font-weight-bold.modal-select-all-methods Method
                                .col-3
                                    span.font-weight-bold Color
                                .col-3
                                    span.font-weight-bold.modal-select-all-errors Display errors
                            +graph-checkbox('Exact', 'Exact solution', true, '#1da2ff', false)
                            +graph-checkbox('Euler', 'Euler', true, '#f6912d', true)
                            +graph-checkbox('ImEuler', 'Improved Euler', false, '#eef644', true)
                            +graph-checkbox('Runge', 'Runge-Kutta', false, '#00f69d', true)
                            br
                            p.h5 Change initial conditions
                            .row
                                label(for='customiseModalX0').col-1.offset-1.offset-md-1 x<sub>0</sub>
                                input#customiseModalX0(type='text' name='x0' placeholder='1').col-5.col-md-2
                                label(for='customiseModalY0').col-1.ml-2 y<sub>0</sub>
                                input#customiseModalY0(type='text' name='y0' placeholder='1').col-5.col-md-2
                                label(for='customiseModalX').col-1.ml-2 X
                                input#customiseModalX(type='text' name='X' placeholder='10').col-5.col-md-2
                    .modal-footer
                        button.btn.btn-secondary(data-dismiss='modal') Close
                        button#customiseModalApplyBtn.btn.btn-primary Apply

        // Scripts

        +scripts