include mixins

doctype html
html(lang='en')
    head

        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/bootstrap-slider.min.css')
        link(rel='stylesheet', href='css/bootstrap-colorpicker.min.css')
        link(rel='stylesheet', href='css/main.css')

        title Numeric Methods
    body
        .container.frame-big.table-bordered
            .text-center
                h1.h1.text-lg-center Numerical Methods
                br
                br
            .row
                .col-lg-5.col-sm-12.graph-card(style='background-color: #f0f0f0;', data-id='1')
                    .p-3
                        .row
                            .col-lg-6.col-sm-6
                                b Grid steps:&nbsp;
                                span.grid-steps 3
                                br
                                input.slider(type='text' data-slider-min='1' data-slider-max='20' data-slider-step='1' data-slider-value='3')
                            .col-lg-6.col-sm-6.text-right
                                br.d-inline.d-sm-none
                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#customiseModal') Customise
                    .h-100.p-1
                        #plot-0
                        br
                .col-lg-2
                .col-lg-5.col-sm-12.p-sm-2
                    button.btn.btn-primary +

            br
            p.text-right.text-secondary Copyright (c) 2018, Marsel Shayhin

        #customiseModal.modal.fade(tabindex=-1, role='dialog', aria-labelledby='customiseModalLabel', aria-hidden=true, data-id=0)
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h2#customiseModalLabel.modal-title Customise chart
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden=true) &times;
                    .modal-body
                        form
                            p.h5 Choose graphs to display
                            +graph-checkbox('Exact', 'Exact solution', true, '#1da2ff')
                            +graph-checkbox('Euler', 'Euler', true, '#f6912d')
                            +graph-checkbox('ImEuler', 'Improved Euler', false, '#eef644')
                            +graph-checkbox('Runge', 'Runge-Kutta', false, '#00f69d')
                            br
                            p.h5 Change initial conditions
                            .row
                                label(for='customiseModalX0').col-1.offset-1.offset-md-1 x<sub>0</sub>
                                input#customiseModalX0(type='text' name='x0' placeholder='x₀').col-5.col-md-2
                                label(for='customiseModalY0').col-1.ml-2 y<sub>0</sub>
                                input#customiseModalY0(type='text' name='y0' placeholder='y₀').col-5.col-md-2
                                label(for='customiseModalX').col-1.ml-2 X
                                input#customiseModalX(type='text' name='X' placeholder='X').col-5.col-md-2
                    .modal-footer
                        button.btn.btn-secondary(data-dismiss='modal') Close
                        button#customiseModalApplyBtn.btn.btn-primary Apply

        // Scripts

        script(src='js/jquery.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
        script(src='js/bootstrap.js')

        // Slider
        script(src='js/bootstrap-slider.min.js')

        // Plot.ly
        script(src='https://cdn.plot.ly/plotly-latest.min.js')

        // Colorpicker
        script(src='./js/bootstrap-colorpicker.min.js')

        // Numeric methods logic
        script(src='./js/num.methods.js')
        script(src='./js/front.js')
        script(src='./js/main.js')
